.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

.auth-form {
  max-width: 450px;
  margin: 2.5rem auto;
  padding: 2rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.7s ease-in;
}

.auth-form h2 {
  font-weight: 600;
  color: var(--text);
  margin-bottom: 1.5rem;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.auth-form input {
  padding: 0.9rem;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-form button {
  padding: 0.9rem;
  background: linear-gradient(90deg, var(--accent), #FFC107);
  color: var(--text);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.auth-form button:hover {
  background: linear-gradient(90deg, #FFC107, var(--accent));
}

.auth-form p {
  cursor: pointer;
  color: var(--primary);
  text-align: center;
  font-weight: 500;
}

.auth-form p:hover {
  color: var(--secondary);
}

/* Phone */
@media (max-width: 576px) {
  .auth-form {
    margin: 1.5rem;
    padding: 1.2rem;
    max-width: 100%;
  }
  .auth-form input,
  .auth-form button {
    padding: 0.7rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .auth-form {
    margin: 2rem auto;
    padding: 1.5rem;
  }
}

/* Laptop */
@media (min-width: 769px) {
  .auth-form {
    max-width: 450px;
  }
}